need python 3.10

python -m venv venv

#-------use i pc does not allow VE----#

Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
.\venv\Scripts\Activate.ps1 (this command is used in powershell to allow virtual environment)

venv\Scripts\activate.ps1

#-------------------------------------#


python -m pip install --upgrade pip 


pip install deepface opencv-python numpy tensorflow
pip install tf-keras

python main.py (to run)



#Save the reference images in JPG format in students Folder and rename it to students name

Press "q" while camera to start the scan